absl-py==2.3.1
addict==2.4.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
albumentations==0.4.3
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.8
anyio==4.11.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.4.0
blessed==1.23.0
blinker==1.9.0
braceexpand==0.1.7
cachetools==6.2.0
carvekit-colab==4.1.0
certifi==2025.10.5
charset-normalizer==3.4.3
clean-fid==0.1.35
click==8.1.8
-e git+ssh://git@github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1#egg=clip
cmake==4.0.0
conda-pack==0.9.1
contourpy==1.3.0
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
datasets==2.4.0
decorator==5.2.1
diffusers==0.12.1
dill==0.3.5.1
docopt==0.6.2
einops==0.3.0
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.118.2
fastcore==1.8.9
ffmpy==0.6.2
filelock==3.19.1
fire==0.4.0
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.9.0
ftfy==6.3.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.45
gpustat==1.1.1
gradio==3.21.0
grpcio==1.75.1
h11==0.16.0
hf-xet==1.1.10
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
idna==3.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug==0.2.6
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
kornia==0.6.0
linkify-it-py==2.0.3
lit==18.1.8
loguru==0.7.3
lovely-numpy==0.2.16
lovely-tensors==0.1.19
lpips==0.1.4
Markdown==3.9
markdown-it-py==2.2.0
MarkupSafe==3.0.3
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1636786646663/work
matplotlib-inline==0.2.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
mmcv-full==1.4.0
mmdet==2.14.0
multidict==6.7.0
multiprocess==0.70.13
narwhals==2.7.0
networkx==3.2.1
nibabel==5.3.2
numpy==1.26.4
nvidia-cufft-cu11==10.9.0.58
nvidia-ml-py==13.580.82
omegaconf==2.1.1
opencv-python==4.5.5.64
opencv-python-headless==4.8.0.76
orjson==3.11.3
packaging==25.0
pandas==1.5.3
parso==0.8.5
pexpect==4.9.0
pillow @ file:///croot/pillow_1744613067434/work
platformdirs==4.4.0
plotly==5.13.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.32.1
psutil==7.1.3
ptyprocess==0.7.0
pudb==2019.2
pure_eval==0.2.3
pyarrow @ file:///croot/pyarrow_1756839868845/work/python
pycocotools @ file:///home/conda/feedstock_root/build_artifacts/pycocotools_1749103850212/work
pydantic==2.12.0
pydantic_core==2.41.1
pydeck==0.9.1
pyDeprecate==0.3.1
pydicom==2.4.4
pydub==0.25.1
Pygments==2.19.2
pykwalify==1.8.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pyradiomics==3.1.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-multipart==0.0.20
pytorch-lightning==1.4.2
pytz==2025.2
PyWavelets==1.6.0
PyYAML==6.0.3
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
responses==0.18.0
rich==14.2.0
rpds-py==0.27.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
scikit-image==0.19.3
scikit-learn==1.6.1
scipy==1.13.1
segment_anything @ file:///home/zjs/sxx24/Gated-Conditional-Diffusion-Model/segment-anything
simpleitk==2.5.2
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio==1.3.1
stack-data==0.6.3
starlette==0.48.0
streamlit==1.50.0
-e git+ssh://git@github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318#egg=taming_transformers
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
terminaltables==3.1.10
test_tube==0.7.5
threadpoolctl==3.6.0
tifffile==2024.8.30
tokenizers==0.12.1
toml==0.10.2
tomli==2.3.0
torch==1.12.1+cu113
torch-fidelity==0.3.0
torchmetrics==0.6.0
torchvision==0.13.1+cu113
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1754731992698/work
tqdm==4.67.1
traitlets==5.14.3
transformers==4.22.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uc-micro-py==1.0.3
urllib3==2.5.0
urwid==3.0.3
uvicorn==0.37.0
watchdog==6.0.0
wcwidth==0.2.14
webdataset==0.2.5
websockets==15.0.1
Werkzeug==3.1.3
xxhash==3.6.0
yapf==0.43.0
yarl==1.22.0
zipp==3.23.0
